<div class="main">
    <div class="viewers px-2 py-5">
        <ul class="list-none" id="user-list">
        </ul>
    </div>
    <div class="py-5">
        <div class="game-board">
            <%= for i <- 1..30 do %>
            <div class="text-2xl"><%= i %></div>
            <% end %>
        </div>
    </div>
</div>